footer{
    position: absolute;
    width: 1917px;
    height: 190px;
    left: 0px;
    top: 5926px;
    background: #FFFFFF;
  }
  .footer-text{
    position: absolute;
  width: 305px;
  height: 28px;
  left: 134px;
  top:64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #001A49;
  }
  .logo-footer{
    position: absolute;
    width: 189px;
    height: 57px;
    left: 1500px;
    top: 70px;    
  }